.App {
  text-align: center;
}

table {
	display: table;
  margin: 75px
}
table tr {
	display: table-cell;
}
table tr td {
	display: block;
}

td {
  text-align: center;
  height: 45px;
  width: 78px;
}
